main {
    width: 100%;
}

.artist-header-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../assets/images/header-artist.jpg);
    background-size: cover;
    color: white;
    display: block;
}



.bottom-items {
    position: absolute;
    bottom: 0;
    left: 22px;
    width: 25rem;
    height: 10rem;
}


.header-text {
    font-size: 56px;
    font-weight: bold;
    margin-top: 1rem;
}

.artist-main-section {
    min-height: 100vh;
    background: rgb(103,103,103);
    background: linear-gradient(180deg, rgba(103,103,103,1) 0%, rgba(64,64,64,1) 16%, rgba(40,40,40,1) 24%, rgba(40,40,40,1) 26%);
    padding-top: 2rem;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #1DB954;
    margin-left: -2rem;
}

.circle {
    font-size: 28px;
    font-weight: 700;
}

.btn {
    padding: 4px 20px;
    border: 1px solid white;
    margin-left: 2rem;
}

.btn + i {
    font-size: 24px;
    margin-left: 2rem;
}

.popular {
    margin-left: -3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.popular-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.music-photo {
    width: 2rem;
    margin-right: 2rem;
}

.music-title {
    font-size: 18px;
}

.watched-num {
  font-size: 16px;
}

.music-length{
  font-size: 14px;
}

.artist-music:hover {
  cursor: pointer;
  transition: 0.3s;
}



/* Media  */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    height: 6rem;
    padding: var(--padding);
    color: var(--primary-color);
  }
  i {
    color: var(--secondary-color);
  }
  i:hover {
    color: var(--primary-color);
  }
  .song-bar {
    position: absolute;
    left: var(--padding);
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
  }
  
  .song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-description p {
    margin: 0.2em;
  }
  .title,
  .artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .title:hover,
  .artist:hover {
    text-decoration: underline;
  }
  .artist {
    color: var(--secondary-color);
  }
  .icons {
    display: flex;
    gap: 1em;
  }
  .progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
  }
  .control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  .play-pause {
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
  }
  .play-pause:hover {
    transform: scale(1.1);
    color: #111;
  }
  .progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
  }
  .progress {
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
  }
  .progress-bar:hover .progress {
    background-color: var(--green-color);
  }
  .progress-bar:hover .progress::after {
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
  }
  .other-features {
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  .volume-bar {
    display: flex;
    align-items: center;
    gap: 0.7em;
  }
  .volume-bar .progress-bar {
    width: 6em;
  }
  .volume-bar .progress-bar:hover .progress::after {
    --size: 0.8em;
  }
  